@import '@gitlab/ui/src/scss/gitlab_ui';
@import '@gitlab/duo-ui/src/scss/components';

@tailwind base;
@tailwind components;
@tailwind utilities;

// Variables and root-level styles
:root {
  --console-font-family: var(--jetBrainsConsoleFontName);
  --console-font-size: var(--jetBrainsConsoleFontSize);

  --editor-font-family: var(--jetBrainsEditorFontName);
  --editor-font-size: var(--jetBrainsEditorFontSize);

  --glDuoChat-foreground: var(--jetBrainsForeground); // "EditorPane.foreground"
  --glDuoChat-foreground-muted: var(--jetBrainsInactiveForeground); // "EditorPane.inactiveForeground"
  --glDuoChat-foreground-disabled: var(--jetBrainsInactiveForeground); // "EditorPane.inactiveForeground"

  --glDuoChat-background: var(--jetBrainsBackground); // "EditorPane.background"
  --glDuoChat-background-alternative: var(--jetBrainsDisabledText); // "Button.DisabledText"

  --glDuoChat-border-color: var(--jetBrainsBorder, var(--jetBrainsInactiveForeground)); // "Borders.color" // "Borders.ContrastBorderColor"
  --glDuoChat-shadow: var(--jetBrainsButtonShadow);

  // .legal_warning is never used in styling which is where these are used
  --glDuoChat-alert-foreground: var(--jetBrainsForeground); // "EditorPane.foreground"
  --glDuoChat-alert-background: var(--jetBrainsBackground); // "EditorPane.background"
  --glDuoChat-alert-border-color: var(--jetBrainsBorder); // "Borders.color"

  --glDuoChat-border-radius: 2px;
  --glDuoChat-feedback-alert-color: #333238;

  --gl-text-color-heading: var(--jetBrainsForeground);
  --gl-text-color-default: var(--jetBrainsForeground);

  --gl-feedback-danger-icon-color: var(--jetBrainsErrorForeground);
  --gl-alert-danger-title-color: var(--jetBrainsErrorForeground);

  --gl-background-color-default: var(--jetBrainsBackground);
  --gl-background-color-subtle: var(--jetBrainsBackground);
  --gl-background-color-overlap: var(--jetBrainsBadgeBackground);
  --glDuoChat-popover-foreground: var(--jetBrainsBadgeForeground);
  --glDuoChat-token-foreground: var(--jetBrainsBadgeForeground);
  --glDuoChat-token-background: var(--jetBrainsBadgeBackground);

  --glDuoChat-icon-foreground: var(--jetBrainsForeground); // would be "Component.iconColor", but this is not used with SVG anyways

  --glDuoChat-textLink-foreground: var(--jetBrainsActiveHyperlink); // "Link.activeForeground"
  --glDuoChat-textLink-foreground-active: var(--jetBrainsHoverHyperlink); // "Link.hoverForeground"
  --glDuoChat-textPreformat-foreground: var(--jetBrainsForeground); // "EditorPane.foreground"
  --glDuoChat-textPreformat-background: var(--jetBrainsBackground); // "EditorPane.background"

  --glDuoChat-input-border: var(--jetBrainsBorder); // "Borders.color"
  --glDuoChat-input-background: var(--jetBrainsTextFieldBackground); // "TextField.background"
  --glDuoChat-input-foreground: var(--jetBrainsTextFieldForeground); // "TextField.foreground"
  --glDuoChat-input-placeholder-foreground: var(--jetBrainsTextFieldInactiveForeground); // "TextField.inactiveForeground"
  --glDuoChat-input-border-focus: var(--jetBrainsButtonDefaultButton); // "Button.default.startBackground"
  --glDuoChat-input-background-focus: var(--jetBrainsTextFieldSelectionBackground); // "TextField.selectionBackground"
  --glDuoChat-input-foreground-focus: var(--jetBrainsTextFieldSelectionForeground); // "TextField.selectionForeground"

  --glDuoChat-checkbox-background: var(--jetBrainsCheckboxBackground); // "Checkbox.background"
  --glDuoChat-checkbox-border: var(--jetBrainsBorder); // "Borders.color"
  --glDuoChat-checkbox-background-selected: var(--jetBrainsCheckboxMenuItemSelectionBackground); // "CheckboxMenuItem.selectionBackground"
  --glDuoChat-checkbox-border-selected: var(--jetBrainsButtonDefaultButton); // "Button.default.startBackground"

  --glDuoChat-button-foreground: var(--jetBrainsButtonForeground); // "Button.foreground"
  --glDuoChat-button-background: var(--jetBrainsButtonDefaultButton); // "Button.default.startBackground"
  --glDuoChat-button-border: var(--jetBrainsBorder); // "Borders.color"
  --glDuoChat-button-background-hover: var(--jetBrainsButtonDefaultButton); // "Button.default.startBackground"

  --glDuoChat-buttonSecondary-foreground: var(--jetBrainsButtonForeground); // "Button.foreground"
  --glDuoChat-buttonSecondary-background: var(--jetBrainsButtonDefaultButton); // "Button.default.startBackground"
  --glDuoChat-buttonSecondary-background-hover: var(--jetBrainsButtonDefaultButton); // "Button.default.startBackground"

  --glDuoChat-list-background: var(--jetBrainsListBackground); // "List.background"
  --glDuoChat-list-foreground: var(--jetBrainsListForeground); // "List.foreground"
  --glDuoChat-list-border: var(--jetBrainsBorder); // "Borders.color"
  --glDuoChat-list-background-active: var(--jetBrainsListSelectionBackground); // "List.selectionBackground"
  --glDuoChat-list-foreground-active: var(--jetBrainsListSelectionForeground); // "List.selectionForeground"

  --glDuoChat-codeBlock-editorPane-background: var(--jetBrainsCodeBlockEditorPaneBackground); // "Code.Block.EditorPane.background"
  --glDuoChat-formattedTextField-inactiveForeground: var(--jetBrainsFormattedTextFieldInactiveForeground); // "FormattedTextField.inactiveForeground"

  --glDuoChat-error-foreground: var(--jetBrainsErrorForeground); // "Label.errorForeground"
  --glDuoChat-feedback-danger-icon-color: var(--glDuoChat-error-foreground);
  --glDuoChat-alert-danger-title-color: var(--glDuoChat-error-foreground);

  // GitLab UI default overrides
  --gl-button-default-primary-foreground-color-default: var(--glDuoChat-button-foreground);
  --gl-button-default-primary-border-color-default: var(--glDuoChat-border-color);
  --gl-control-background-color-default: var(----glDuoChat-input-background);

  font-size: var(--console-font-size);

  // Our UI libraries apply relative font sizes that scale most elements in Duo Chat to .875rem by default.
  // This shrinks them below the user's chosen font size for JetBrains and makes them quite small. Rescale to 1rem.
  %base-relative-font-size {
    font-size: 1rem;
  }
  %small-relative-font-size {
    font-size: .875rem;
  }
  %extra-small-relative-font-size {
    font-size: .75rem;
  }

  body {
    @apply gl-p-0;
    font-family: var(--console-font-family);
  }
  a,
  .gl-link {
    @extend %link-colors;
  }
  %link-colors {
    color: var(--glDuoChat-textLink-foreground);
    &:hover {
      color: var(--glDuoChat-textLink-foreground);
    }
    &:focus,
    &:active:focus {
      @apply gl-shadow-none;
      @apply gl-no-underline;
      color: var(--glDuoChat-textLink-foreground-active);
    }
  }

  // This `.duo-chat-message` style overrides the gitlab-ui style for chat message that's ATM incompatible with JetBrains
  .duo-chat-message pre {
    @apply gl-shadow-none;
    background-color: var(--glDuoChat-codeBlock-editorPane-background);
    color: #CCCCCC;
    border-radius: var(--glDuoChat-border-radius);
    border-color: var(--glDuoChat-border-color);
    font-family: var(--editor-font-family);
    font-size: var(--editor-font-size);
  }

  .duo-chat-message pre.scrim-top:before {
    background: linear-gradient(to bottom,rgba(0,0,0,0),rgba(0,0,0,0));
  }
  .duo-chat-message pre.scrim-bottom:after {
    background: linear-gradient(to bottom,rgba(0,0,0,0),rgba(0,0,0,0));
  }

  .duo-chat-message pre code {
    background-color: inherit;
    color: inherit;
  }

  .duo-chat-message code {
    color: var(--glDuoChat-textPreformat-foreground);
    background-color: var(--glDuoChat-codeBlock-editorPane-background);
  }

  // gitlab-ui utils overrides
  .gl-animate-skeleton-loader {
    background-color: var(--glDuoChat-foreground-muted);

    background-image: linear-gradient(to right,
      var(--glDuoChat-foreground-muted) 0,
      var(--glDuoChat-foreground) 23%,
      var(--glDuoChat-foreground) 27%,
      var(--glDuoChat-foreground-muted) 50%
    );
  }
  .gl-alert-body {
    color: var(--glDuoChat-feedback-alert-color);
  }

  .duo-chat-message-with-error {
    color: var(--glDuoChat-error-foreground);
    border-color: var(--glDuoChat-error-foreground);
    border-style: solid;
    background: var(--glDuoChat-background);

    .error-icon {
      border-color: var(--glDuoChat-error-foreground);
    }
    .gl-icon {
      color: inherit;
      text-decoration: underline;
    }
  }

  .gl-token {
    color: var(--glDuoChat-token-foreground);
    background-color: var(--glDuoChat-token-background);
    border-radius: var(--glDuoChat-border-radius);
    border-color: var(--glDuoChat-border-color);
    padding: .25rem .5rem;

    .gl-token-content {
      @extend %base-relative-font-size;
      // Line height needs to be slightly larger than the base font size to prevent descenders (bottom of g etc) from getting cut off
      line-height: 1.25;
    }

    .gl-token-content .gl-icon {
      color: var(--glDuoChat-token-foreground);
    }
  }
  .gl-popover {
    .popover-header,
    .popover-body,
    .gl-text-subtle {
      color: var(--glDuoChat-popover-foreground);
    }

    .gl-fill-icon-subtle {
      fill: var(--glDuoChat-popover-foreground);
    }
  }
  .duo-chat-drawer-header-sticky {
    border-color: var(--glDuoChat-background);
  }
  .drawer-title {
    @apply gl-hidden;
  }
  .gl-bg-gray-10 {
    background: var(--glDuoChat-background);
  }
  .gl-bg-gray-50 {
    background: var(--glDuoChat-alert-background);
  }
  .gl-text-gray-700 {
    color: var(--glDuoChat-alert-foreground);
  }
  .gl-border-t {
    border-color: var(--glDuoChat-border-color);
  }
  .gl-rounded-bottom-right-none {
    @apply gl-rounded-br-none;
  }
  .gl-rounded-bottom-left-none {
    @apply gl-rounded-bl-none;
  }
  .gl-rounded-top-left-none {
    @apply gl-rounded-tl-none;
  }
  .gl-rounded-top-right-none {
    @apply gl-rounded-tr-none;
  }
  .gl-bg-white {
    background: var(--glDuoChat-background);
  }
  .gl-inset-border-1-gray-400 {
    box-shadow: inset 0 0 0 1px var(--glDuoChat-input-border);
    &:focus-within {
      @apply gl-shadow-none;
      outline: 1px solid var(--glDuoChat-input-border-focus);
    }
  }
  .gl-icon {
    color: var(--glDuoChat-feedback-alert-color);
  }
  .gl-button .gl-icon {
    color: var(--glDuoChat-button-foreground);
  }

  button {
    .gl-icon {
      color: var(--glDuoChat-button-foreground);
    }
  }

  .gl-button.gl-button {
    @extend %base-relative-font-size;
  }
  .gl-button.gl-button.btn-default,
  .gl-button.gl-button.btn-default-secondary,
  .gl-button.gl-button.btn-dashed,
  .gl-button.gl-button.btn-block.btn-default,
  .gl-button.gl-button.btn-block.btn-dashed {
    background-color: var(--glDuoChat-button-background);
    .gl-icon {
      color: var(--glDuoChat-button-foreground);
    }
    &:hover {
      background: var(--glDuoChat-button-background);
      color: var(--glDuoChat-button-foreground);
      .gl-icon {
        color: var(--glDuoChat-button-foreground);
      }
    }
  }
  .duo-chat-suggestion-button {
    background: var(--glDuoChat-buttonSecondary-background);
    color: var(--glDuoChat-buttonSecondary-foreground);
    box-shadow: inset 0 0 0 1px var(--glDuoChat-button-border);
    &:focus,
    &:hover,
    &:active:focus {
      background: var(--glDuoChat-buttonSecondary-background-hover);
      color: var(--glDuoChat-buttonSecondary-foreground);
      box-shadow: inset 0 0 0 1px var(--glDuoChat-input-border-focus);
    }
  }
  .gl-button.gl-button.btn-link {
    @extend %link-colors;
    text-underline: none;
  }
  .gl-button.gl-button.btn-default-tertiary,
  .gl-button.gl-button.btn-dashed-tertiary,
  .gl-button.gl-button.btn-confirm-tertiary,
  .gl-button.gl-button.btn-danger-tertiary,
  .gl-button.gl-button.btn-block.btn-default-tertiary,
  .gl-button.gl-button.btn-block.btn-dashed-tertiary,
  .gl-button.gl-button.btn-block.btn-confirm-tertiary,
  .gl-button.gl-button.btn-block.btn-danger-tertiary {
    mix-blend-mode: normal;
  }
  .text-muted {
    color: var(--glDuoChat-foreground-muted) !important;
  }
  .gl-text-blue-900 {
    color: var(--glDuoChat-foreground);
  }
  .gl-bg-blue-100 {
    background: var(--glDuoChat-background-alternative);
  }
  .gl-text-gray-500,
  .gl-text-subtle {
    color: var(--glDuoChat-foreground-muted);

    .gl-icon {
      color: var(--glDuoChat-foreground-muted);
    }
  }
  .gl-text-gray-600 {
    color: var(--glDuoChat-foreground);
  }
  .gl-text-gray-900 {
    color: var(--glDuoChat-foreground);
    &:active {
      color: var(--glDuoChat-foreground);
    }
  }
  .gl-border-gray-50 {
    border-color: var(--glDuoChat-border-color);
  }
  .gl-markdown {
    color: var(--glDuoChat-foreground);
    font-family: var(--font-family);
    code {
      background: var(--glDuoChat-textPreformat-background);
      color: var(--glDuoChat-textPreformat-foreground);
      font-family: var(--glDuoChat-font-family-code);
      border-radius: 4px;
    }
    pre code {
      @apply gl-bg-transparent;
      color: var(--glDuoChat-textPreformat-foreground);
    }
    &:first-child {
      pre {
        @apply gl-mt-0;
        background: var(--glDuoChat-codeBlock-editorPane-background);
      }
    }
  }
  .gl-modal {
    color: var(--glDuoChat-foreground);
    background-color: var(--glDuoChat-background);

    .modal-content {
      background-color: var(--glDuoChat-background-alternative);
      border-color: var(--glDuoChat-border-color);
      border-radius: var( --glDuoChat-border-radius);
      box-shadow: 0 4px 16px var(--glDuoChat-shadow);
    }

    .modal-header {
      background-color: var(--glDuoChat-background-alternative);
      color: var(--glDuoChat-foreground);

      .modal-title {
        color: var(--glDuoChat-foreground);
      }

      & > :first-child {
        border-top-left-radius: 2px;
        border-top-right-radius: 2px;
      }
    }

    .modal-body {
      background-color: var(--glDuoChat-background-alternative);

      .code {
        background: var(--glDuoChat-codeBlock-editorPane-background);
      }
    }
  }
  .gl-form-checkbox,
  .gl-form-radio {
    color: var(--glDuoChat-foreground);
  }
  .gl-form-input,
  .gl-form-input.form-control {
    @extend %base-relative-font-size;
    background: var(--glDuoChat-input-background);
    color: var(--glDuoChat-input-foreground);
    box-shadow: inset 0 0 0 1px var(--glDuoChat-input-border);
    // This redeclaration is required as the font and size are overwritten by .gl-form-input
    font-family: var(--console-font-family);
    font-size: var(--console-font-size);
    &:focus,
    &:not(.form-control-plaintext):focus {
      background: var(--glDuoChat-input-background);
      color: var(--glDuoChat-input-foreground);
      box-shadow: inset 0 0 0 1px var(--glDuoChat-input-border-focus);
    }
    &::placeholder {
      color: var(--glDuoChat-input-placeholder-foreground);
    }
  }
  .modal-backdrop {
    opacity: 1;
    background-color: var(--glDuoChat-shadow);
  }
  .gl-form-checkbox,
  .gl-form-radio {

    &.custom-control {

      .custom-control-input ~ .custom-control-label {
        &::before {
          border-color: var(--glDuoChat-checkbox-border);
          background-color: var(--glDuoChat-checkbox-background);
        }
      }

      .custom-control-input:not(:disabled):focus ~ .custom-control-label {
        &::before {
          @apply gl-shadow-none;
          border-color: var(--glDuoChat-checkbox-border);
        }
      }

      .custom-control-input:checked ~ .custom-control-label {
        &::before {
          border-color: var(--glDuoChat-checkbox-border-selected);
          background-color: var(--glDuoChat-checkbox-background-selected);
        }
      }

      .custom-control-input[type='checkbox']:checked ~ .custom-control-label,
      .custom-control-input[type='checkbox']:indeterminate ~ .custom-control-label,
      .custom-control-input[type='radio']:checked ~ .custom-control-label {
        &::after {
          background-color: var(--glDuoChat-checkbox-background-selected);
        }
      }

      .custom-control-input:not(:disabled):checked ~ .custom-control-label:hover,
      .custom-control-input:not(:disabled):focus:checked ~ .custom-control-label {
        &::before {
          background-color: var(--glDuoChat-checkbox-background-selected);
          border-color: var(--glDuoChat-checkbox-border-selected);
        }
      }

      &.custom-checkbox {
        .custom-control-input:indeterminate ~ .custom-control-label::before {
          background-color: var(--glDuoChat-checkbox-background-selected);
          border-color: var(--glDuoChat-checkbox-border-selected);
        }

        .custom-control-input:not(:disabled):indeterminate ~ .custom-control-label:hover::before,
        .custom-control-input:not(:disabled):focus:indeterminate ~ .custom-control-label::before {
          background-color: var(--glDuoChat-checkbox-background-selected);
          border-color: var(--glDuoChat-checkbox-border-selected);
        }
      }

      .custom-control-input:disabled ~ .custom-control-label {
        &::before {
          background-color: var(--glDuoChat-foreground-disabled);
          border-color: var(--glDuoChat-checkbox-border-selected);
        }
      }

      .custom-control-input:checked:disabled ~ .custom-control-label,
      .custom-control-input[type='checkbox']:indeterminate:disabled ~ .custom-control-label {
        &::before {
          background-color: var(--glDuoChat-checkbox-background-selected);
          border-color: var(--glDuoChat-checkbox-border-selected);
        }

        &::after {
          background-color: var(--glDuoChat-foreground-disabled);
        }
      }
    }
  }
  .modal-dialog {
    @apply gl-mr-5;
    @apply gl-ml-5;
  }
  .gl-modal {
    .modal-footer {
      @include media-breakpoint-down(xs) {
        @apply gl-flex-row;

        .btn + .btn:not(.dropdown-toggle-split),
        .btn + .btn-group,
        .btn-group + .btn {
          @apply gl-ml-3;
          @apply gl-mt-0;
        }
      }
    }
  }


  // Components
  .duo-chat {
    @apply gl-h-screen;
    @apply gl-w-full;
    @apply gl-border-none;
    font-family: var(--font-family);
    color: var(--glDuoChat-foreground);
  }
  .duo-chat-input {
    background: var(--glDuoChat-input-background);
    color: var(--glDuoChat-input-foreground);

    .gl-form-input:not(.form-control-plaintext) {
      &:focus {
        color: var(--glDuoChat-input-foreground);
      }
    }
  }
  .duo-chat-drawer {
    @extend %base-relative-font-size;
  }
  .duo-chat .duo-chat-drawer-body-scrim-on-footer:before {
    background: transparent;
  }
  .duo-chat-loader {
    color: var(--glDuoChat-foreground);
  }
  .legal-warning {
    @apply gl-border-t-0;
    background: var(--glDuoChat-alert-background);
    color: var(--glDuoChat-alert-foreground);
    border-color: var(--glDuoChat-alert-border-color);
    padding-top: 0.5em;
    padding-bottom: 0.5em;

    .gl-alert-body {
      color: var(--glDuoChat-alert-foreground);
    }
  }

  .duo-chat {
    copy-code,
    insert-code-snippet {
      background-color: var(--glDuoChat-background);

      .gl-button.gl-button.btn-default {
        background: var(--glDuoChat-textPreformat-background);

        &:hover, .gl-icon {
          background: var(--glDuoChat-textPreformat-background);
          color: var(--glDuoChat-textPreformat-foreground);
        }
      }
    }
  }

  .slash-commands {
    background-color: var(--glDuoChat-list-background);
    border-color: var(--glDuoChat-list-border);

    small {
      @extend %extra-small-relative-font-size;
    }

    button.dropdown-item {
      @extend %small-relative-font-size;
      color: var(--glDuoChat-list-foreground);

      // Override .gl-dropdown-item :hover styling, which applies --glDuoChat-list-foreground-active ("List.selectionForeground")
      // as the color but does not change the background-color, causing it to appear invisible in certain themes.
      // Inheriting the color property styling allows it to be handled by .gl-dropdown-item.active-command, which sets both.
      &:hover {
        color: inherit;
      }
    }

    .active-command {
      background-color: var(--glDuoChat-list-background-active);

      button.dropdown-item {
        color: var(--glDuoChat-list-foreground-active);

        small {
          color: var(--glDuoChat-list-foreground-active);
        }
      }

      .gl-text-secondary {
        color: var(--glDuoChat-list-foreground-active);
      }
    }

    .gl-icon {
      color: inherit;
    }
  }
}
